<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar *ngIf="showCategory">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
 

  <ion-list *ngIf="showCategory">
    <ion-item *ngFor="let cat of categories" (click)="getCategoryList(cat)">
      {{cat}}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showList">
    <ion-item (click)="goToCategory()"> Go Back</ion-item>
    <ion-item *ngFor="let list of list">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <b>{{list.API}}</b> <br>
        
        <br />
    <ion-item><p>{{list.Description}}</p></ion-item>
        <!-- <p>Link: {{list.Link}}</p> -->
    </ion-item>
  </ion-list>


  
</ion-content>
