<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>POC</ion-card-subtitle>
        <ion-card-title>Welcome to List App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Please select list from the burger menu app - app prepared bu Shubham Bansal</p>
      
      </ion-card-content>
    </ion-card>
</ion-content>
